* { margin: 0; padding: 0; }

body {
    font-family: Arial;
    color:#333;
    padding: 20px;
}

header {
    text-align: center;
    background-color: bisque;
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto 20px auto;
}
section {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section h2 {
    background-color:#aed1d1;
    padding: 20px;
    flex-basis: 100%;
}

section p {
    flex: 1;
    background-color:aliceblue;
    padding: 20px;
}