#ex1 {
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    background-color: red;
}

#ex1:hover {
    width: 500px;
    transition: width 2s;
}

#ex2 {
    /* height: 100px; */
    font-size: 24px;
    font-weight: normal;
    letter-spacing: normal;
    color:skyblue; 
}

#ex2:hover {
    font-size:48px;
    font-weight: bold;
    letter-spacing: 5px;
    color:tomato;
    transition: all 2s;
}

#ex3 {
    background-color:lightgray;
    padding: 20px;
}

#ex3 div {
    background-color: mediumaquamarine;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    transition-property: width;
    transition-duration: 3s;
}

#ex3 div:hover {
    width: 600px;
    cursor: pointer;
}

#ex3a {transition-timing-function: linear;}
#ex3b {transition-timing-function: ease;}
#ex3c {transition-timing-function: ease-in;}
#ex3d {transition-timing-function: ease-out;}
#ex3e {transition-timing-function: ease-in-out;}
#ex3f {transition-timing-function: cubic-bezier(0.610, 0.185, 0.440, 1.650);}

#ex4 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50px;
    transform-origin: top left;
}

#ex4:hover {
    transform:rotate(2160deg);
    background-color: blue;
    transition: all 5s ease-out;
}

#ex5 {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: thistle;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

#ex5 div {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotateY(45deg);
}

#ex5 div:hover {
    background-color: blue;
    transform: rotateY(2205deg) ;
    transition: all 5s ease-out;
}

#ex6 {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: thistle;
}

#ex6 div {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: perspective(1000px) rotateY(45deg);
}

