@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/*Containers*/
html{
    background-color: #151515;
    padding: 10% 20%;
}

a{
    border: 3px solid white;
    padding: 0.5em 2em;

    font-style: italic;
    font-weight: 400;
    color: white;
    opacity: 0.5;
    text-decoration: none;
}

a:hover{
    opacity: 1;
}

/*Text*/
body{
    text-align: center;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

h1{
    font-weight: 700;
    font-size: 18px;
}

h2{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5%;
    font-size: 16px;
}

@media (min-width:700px)  {
    /*Text*/
    body{
        font-size: 18px;
    }

    h1{
        font-size: 26px;
    }
    
    h2{
        font-size: 24px;
    }
}

@media (min-width:1200px)  {
    /*Text*/
    body{
        font-size: 22px;
    }

    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 28px;
    }
}