@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
body{
    font-family: 'Noto Sans SC', sans-serif;
    padding: 0% 10%;
    background-color: #FAF6F0;
}

header, footer{
    text-align: center;
    padding: 2em 0em;
}

/*containers*/
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 0em;
}

#about-content{
    order: 2; 
    width: 60%;
}

#about-image{
    order: 1; 
    width: 40%;
    text-align: right;
    margin-right: 5%;
}

.links-container{
    display: flex;
    flex-direction: row;
    padding: 4em 0em;
}

#mp-container, #excercise-container, #tools-container{
    text-align: center;
    background-color: #BB8163;
    border-radius: 5%;
    margin: 0% 2%;
}

#mp-container{
    order: 1; 
    width: 100%;
}

#excercise-container{
    order: 2;
    width: 100%;
}

#tools-container{
    order: 3;
    width: 100%;
}

.list{
    text-align: left;
}

/*images*/
.nk-image{
    border-radius: 50%;
    height: 200px;
}

.fas{
    color: #BB8163;
    text-decoration: none;
    height: 100px;
}


@media (max-width:1000px){
    .links-container{
        flex-direction: column;
    }

    #mp-container, #excercise-container, #tools-container{
        border-radius: 4%;
        margin: 2% 20%;
        width: 60%;
    }

    .nk-image{
        border-radius: 50%;
        height: 150px;
    }
}