body {
    padding:100px;
    font-family: Arial;
    color:#333;
}
section {
    border: 4px solid green;
    padding: 10px;
    display: flex;
    gap: 10px;
}
section p {
    margin: 0;
    flex: 1;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #555536;
}

.one { order: 5; }
.two { order: 3; }
.three { order: 2; }
.four { order: 1; }
.five { order: 4; }