.container-choices{
    display: flex; 
    flex-direction: column;
    margin: 0 0;
}

@media (min-width:700px)  {
    .container-choices{
        flex-direction: row;
        justify-content: center;
        gap: 10%;
    }
}

